/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

/* Header */
header {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Main Content */
main {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem;
  gap: 10px;
}

.card-impressora {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(
    33.33% - 25px
  ); /* Cada card ocupa 33.33% da largura da página menos o espaçamento */
  max-width: 200px;
}

.card-impressora img {
  display: block;
  margin: 0 auto 20px;
  border-radius: 5px;
  max-width: 100%;
}

.card-impressora h2 {
  text-align: center;
  margin-bottom: 10px;
}

.card-impressora a {
  display: flex;
  text-align: center;
  background: #333;
  color: #fff;
  padding: 0.5rem 3rem;
  border-radius: 25px;
  text-decoration: none;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.card-impressora a:hover {
  background-image: initial;
  background-color: rgb(28 187 40);
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found h1 {
  margin-bottom: 20px;
}

.not-found img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* Media Query para telas menores */
@media (max-width: 768px) {
  .card-impressora {
    width: calc(50% - 25px);
  }
}
