* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-direction: column;
  gap: 1%;
}

header {
  background-color: #1f1f1f;
  color: #fff;
  padding: 1.5rem 0;
  text-align: center;
  border-bottom: 2px solid #333;
}

.card-impressora {
  background-color: #1f1f1f;
  border-radius: 12px;
  box-shadow: none;
  padding: 15px;
  width: calc(33.33% - 25px);
  text-align: center;
  color: #e0e0e0;
  border: 1px solid #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  position: relative;
  border-top: 5px solid;
  margin: 1%;
}

.card-impressora.laranja {
  border-top-color: orange;
  color: orange;
}

.card-impressora.azul {
  border-top-color: blue;
  color: blue;
}

.card-impressora.ender3v3se {
  border-top-color: #9112ff;
  color: #9112ff;
}

.card-impressora.k1max {
  border-top-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.card-impressora.ender3s1 {
  border-top-color: rgb(255, 0, 0);
  color: rgb(255, 0, 0);
}

.card-impressora img {
  border-radius: 50%;
  max-width: 80%;
  margin-bottom: 15px;
}

.card-impressora a {
  background-color: #333;
  color: #fff;
  padding: 0.6rem 2rem;
  border-radius: 25px;
  text-decoration: none;
  margin: 5px auto;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}
.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem auto;
  flex-wrap: wrap;
}

.acessar-btn.ender3v3se:hover {
  background-color: #9112ff;
}

.acessar-btn.laranja:hover {
  background-color: orange;
}

.acessar-btn.azul:hover {
  background-color: blue;
}

.acessar-btn.ender3s1:hover {
  background-color: rgb(255, 0, 0);
}

.acessar-btn.k1max:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.assistir-btn:hover {
  background-color: #2196f3;
}

footer {
  background-color: #1f1f1f;
  color: #e0e0e0;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer-container p {
  margin: 0;
}
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found h1 {
  margin-bottom: 20px;
}

.not-found img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

@media (max-width: 768px) {
  .card-impressora {
    width: calc(50% - 10px);
  }
  main {
    padding: 1rem;
  }
  footer {
    text-align: center;
  }
}

/* Smartphones */
@media (max-width: 480px) {
  .card-impressora {
    width: 100%;
    margin: 2% 10%;
  }
  .card-impressora img {
    max-width: 70%;
  }
  .card-impressora a {
    width: 80%;
  }
  header {
    font-size: 1.2rem;
  }
  footer {
    padding: 1rem;
  }
}
